  body {
      background-color: #f7f7f7;
  }
  header {
    color: white;
    background-color: #8b9dc3;
    padding: 15px;
    z-index: 9999;
}

#searchForm {
    padding: 15px;
}

#searchForm button {
    background-color: #3b5998;
    margin-top: 10px;
    border: none;
    color: white;
}